header{
   text-align: center;
   
   font-family: Arial, Helvetica, sans-serif;

}
.head{
    display: inline;
    font-size: 40px;
    padding: 5px;
}
.logo{
    max-width: 100%;
    padding: 5px 5px 20px 5px;
}
.logo-nav{
    max-width: 40px;
    vertical-align: middle;
    padding: 5px;
    display: inline;
}
.container{
  display: inline;
  float: center;
}


  html,
  body {
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.5;
    margin: 10px;
    
  }
  
  
  
  header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
  }
  
  #main-doc header {
    text-align: left;
    margin: 10px;
  }
 
  p{
    font-weight: 500;
  }
  
  
  
  
  
  
  #main-doc {
    position: relative;
    margin-left: 50px;
    padding: 20px;
    margin-bottom: 110px;
  }
  
  section article {
    color: #4d4e53;
    margin: 10px;
    font-size: 0.96em;
  }
  
  section li {
    margin: 15px 0px 0px 20px;
  }
  img{
    max-width: 100%;
  }
  
  
  @media only screen and (max-width: 815px) {
    /* For mobile phones: */
    
  
   
    #main-doc {
      position: relative;
      margin-left: 0px;
      margin-top: 50px;
    }

    
  }
  
  @media only screen and (max-width: 400px) {
    #main-doc {
      margin-left: -10px;
    }
  
    
  }
